<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <script th:src="@{js/jquery-1.9.1.min.js}"></script>
</head>

<body>
    <button>获取跨域内容</button>
    <p id="p1"></p>
</body>

<script>
  $(function(){
    $("button").click(function(){
      $.ajax({
        type: "post",
        url:"http://localhost:8088/",
        success:function(result){
          $("#p1").html(result);
        }
      });
    });
  });
</script>

</html>
